<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>A test Website</title>
    <link rel="stylesheet" href="./styles/indexStyle.css" type="text/css">
    <script type="text/javascript" src="./scripts/data.js"></script>
    <script type="text/javascript" src="./scripts/functions.js"></script>
    <script type="text/javascript" src="./scripts/events.js"></script>
</head>

<body>

    <h1 id="h1">Test Website</h1>

    <p> 
        Welcome to my test website ! Remember to reload your page before buying anything. This contains alot of bugs at this stage.
    </p>

    <button onclick="checkCookie()">Enter your name</button><br><br>
    <!--Inventory-->
    <inv id="inventorySpace">Inventory: </inv><br><br>
    <!--Money stuff-->
    <div3 id="emptySpace"></div3><br><br>
    <button onclick="moneyAdd()">Add more money !</button>
    <button onclick="removeAll()">Clear all money (No confirmation !)</button><br><br>
    <!--Shop stuff-->

    <div>
        <h2>Car</h2>
        <img class="card-thumb" src="https://belmontbec.com/wp-content/themes/nevia2/images/shop-01.jpg" /><br><br>
        <button onclick="window.alert(carData.name)">View name</button><br><br>
        <button onclick="window.alert(carData.price)">View price</button><br><br>
        <button onclick="window.alert(`Colour: ${carData.properties.colour}, Size: ${carData.properties.size}`)">View
            details</button>
        <button onclick="checkMoney(carData.price)" onclick="inventory(carData.name, carData.price)">Buy (Cost:
            200)</button>
    </div>

    <div>
        <h2>Cup</h2>
        <img class="card-thumb" src="https://belmontbec.com/wp-content/themes/nevia2/images/shop-01.jpg" /><br><br>
        <button onclick="window.alert(cupData.name)">View name</button><br><br>
        <button onclick="window.alert(cupData.price)">View price</button><br><br>
        <button onclick="window.alert(`Colour: ${cupData.properties.colour}, Size: ${cupData.properties.size}`)">View
            details</button>
        <button onclick="checkMoney(cupData.price, cupData.name)">Buy (Cost: 2)</button>
    </div>
</body>

</html>