<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="styles/favicon.ico" type="image/x-icon">
    <link rel="icon" href="styles/favicon.ico" type="image/x-icon">

    <title>String generator</title>

    <link rel="stylesheet" href="./styles/indexStyle.css" type="text/css">
    <script type="text/javascript" src="./js/script.js"></script>
    <script type="text/javascript" src="./js/events.js"></script>

</head>

<body>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/staff">Staff</a></li>
    </ul>
    <hr>

    <h1 id="h1">Random String Generator !</h1>

    <p>
        A website I decided to made which creates random strings.
    </p>

    <button onclick="genString()">Generate all types</button><br><br>

    <button onclick="genNumber()">Generate Number</button><br><br>

    <button onclick="genSymbols()">Generate Symbols</button><br><br>

    <button onclick="genLetters()">Generate Letters</button><br><br>

    <br>
    <footer>By Bob8552, made in 2020.</footer>

</body>

</html>