<!DOCTYPE html>

<html>
    <head>
        <title>Hello world</title>
        <link rel="stylesheet" href="./styles/indexStyle.css" type="text/css">
        <script type="text/javascript" src="./scripts/data.js"></script>
        <script type="text/javascript" src="./scripts/functions.js"></script>
        <script type="text/javascript" src="./scripts/events.js"></script>
    </head>

    <body>
        <h1>Test</h1>
        <h2>Car</h2>
        <body>
            <button onclick="window.alert(carData.name)">View name</button><br><br>
            <button onclick="window.alert(carData.price)">View price</button><br><br>
        </body>
    </body>
</html>