<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="styles/favicon.ico" type="image/x-icon">
    <link rel="icon" href="styles/favicon.ico" type="image/x-icon">

    <title>String generator</title>

    <link rel="stylesheet" href="./styles/indexStyle.css" type="text/css">
    <script type="text/javascript" src="./js/script.js"></script>
    <script type="text/javascript" src="./js/events.js"></script>

</head>

<body>
    <ul>
      <li><a href="/">String generator</a></li>
			<li><a href="/notes">Note storage</a></li>
    </ul>
    <hr>

    <h1 style="font-style:italic;">Random String Generator!</h1>

    <p>
      A website where you can create strings that you can use for passwords or keys. You can also store your notes here!
    </p>

		<h4>Generate strings</h4>
    <button onclick="genString()">Generate all types</button><br><br>

    <button onclick="genNumber()">Generate Number</button><br><br>

    <button onclick="genSymbols()">Generate Symbols</button><br><br>

    <button onclick="genLetters()">Generate Letters</button><br><br>

    <br>
  <hr>
    <footer>Nexark Corporation 2020 | By Neo238</footer>

</body>

</html>
