<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="styles/favicon.ico" type="image/x-icon">
    <link rel="icon" href="styles/favicon.ico" type="image/x-icon">

    <title>String generator - Notes</title>

    <link rel="stylesheet" href="./styles/indexStyle.css" type="text/css">
    <script type="text/javascript" src="./js/notes.js"></script>
    <script type="text/javascript" src="./js/events.js"></script>

</head>

<body>
    <ul>
      <li><a href="/">Back</a></li>
    </ul>
    <hr>

    <h1 id="h1">Note Storage!</h1>

    <p>
      Store notes here, we don't reccomend you store your passwords here though!
    </p>

		<div id="container">
      <textarea id="area" rows="10" cols="50"></textarea>
    </div>
		<button onclick="save()">Save</button>

    <br>
  <hr>
    <footer>Nexark Corporation 2020 | By Neo238</footer>

</body>

</html>
