<!DOCTYPE html>

<html>
  <head>
    <title>Sentence generator</title>
    
    <link rel="stylesheet" href="./styles/sentencesStyle.css" type="text/css">
    <link rel="icon" href="styles/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="./js/script.js"></script>
    <script type="text/javascript" src="./js/sentences.js"></script>
    <script type="text/javascript" src="./js/events.js"></script>
    
  </head>
  
  <body>
    
    <ul>
        <li><a href="/">Go back</a></li>
    </ul>
    <hr>
  
      <p id="randomword">...</p><br>
    
      <button onclick="sentence()">Press for random sentence</button>
    
  </body>
</html>