<html>

<head>
    <title>Submit</title>
    <script type="text/javascript">
        function submit() {

            console.log("am i even working?");

        }
    </script>
</head>

<body>
    <header>Submit something in the box below !</header>
    <form action="index.ejs" name="123">
        <label for="submitBox">Type here</label><br>
        <input type="text" id="submitBox" name="submitBox" required placeholder="Input..."><br><br>
        <input type="button">
    </form>
    <a href="/">Back to main page</a>
</body>

</html>